h1 {
    background-color: aliceblue;
    padding: 1em;
}

.ph-scale {
    align-items: center;
    margin: 20px auto;
    font-weight: bold;
}

.ph-scale span {
    padding: 0.5em;
    display: block;
    height: 1em;
}

.ph-scale .ph-level {
    color: white;
    align-items: center;
}

.ph-1 {
    background-color: rgb(26, 167, 248);
}

.ph-2 {
    background-color: rgb(26, 167, 248,0.9);
}

.ph-3 {
    background-color: rgb(26, 167, 248,0.8);
}

.ph-4 {
    background-color: rgb(26, 167, 248,0.7);
}

.ph-5 {
    background-color: rgb(26, 167, 248,0.6);
}

.ph-6 {
    background-color: rgb(26, 167, 248,0.5);
}

.ph-7 {
    background-color: rgb(26, 167, 248,0.4);
}

.ph-8 {
    background-color: rgb(39, 218, 3);
}

.ph-9 {
    background-color: rgb(255, 44, 209,0.4);
}

.ph-10 {
    background-color: rgb(255, 44, 209,0.5);
}

.ph-11 {
    background-color: rgb(255, 44, 209,0.6);
}

.ph-12 {
    background-color: rgb(255, 44, 209,0.7);
}

.ph-13 {
    background-color: rgb(255, 44, 209,0.8);
}
.ph-14 {
    background-color: rgb(255, 44, 209,0.9);
}
.ph-15 {
    background-color: rgb(255, 44, 209);
}